.container-fluid.bg-dark.p-3
  nav.navbar.navbar-expand-lg.navbar-dark
    .container-fluid
      a.navbar-brand(href="#")
        b
          i= navbarTitle
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link.mx-2(href=(isAdmin ? '/' : '/admin') class=(path === '/admin' ? 'nav-link active' : 'nav-link'))
              | Admin
          li.nav-item
            a.nav-link(href=(isAdmin ? '/admin' : '/') class=(path === '/' ? 'nav-link active' : 'nav-link'))
              i.bi.bi-house-door-fill
              | Anasayfa
          li.nav-item
            a.nav-link(href=(isAdmin ? '/admin/about' : '/about') class=(path === '/about' || path === '/admin/about' ? 'nav-link active' : 'nav-link'))
              | Hakkımızda
          li.nav-item
            if isAdmin
              a.nav-link(
                data-bs-toggle="offcanvas"
                href="#offcanvasCategory"
                class=(path === '/admin/category' || path === '/admin' ? 'nav-link active' : 'nav-link')
                role="button"
                aria-controls="offcanvasCategory"
              )
                | Kategori Ekleme
            else
              a.nav-link(
                href="/content"
                class=(path === '/content' ? 'nav-link active' : 'nav-link')
              )
                | İçerikler
          li.nav-item
            a.nav-link(href=(isAdmin ? "/admin/ubungen" : "/ubungen") class=(path === '/ubungen' || path === '/admin/ubungen' ? 'nav-link active' : 'nav-link'))
              i.bi.bi-journal-check
              if isAdmin
                | Yönetim Paneli
              else
                | Alıştırma

div.offcanvas.offcanvas-start(tabindex="-1", id="offcanvasCategory", aria-labelledby="offcanvasCategoryLabel")
  div.offcanvas-header
    h5.offcanvas-title(id="offcanvasCategoryLabel") Kategoriler
    button.btn-close(type="button", data-bs-dismiss="offcanvas", aria-label="Close")
  div.offcanvas-body
    h2 Kategoriler Listesi
    table.table
      thead
        tr
          th ID
          th Kategori Adı
          th Açıklama
      tbody
        tr
          td(colspan="3") Yükleniyor...
    label.mb-2(for="button") Kategorileri düzenlemek ve içerikleri görmek için butona tıklayın
    a.btn.btn-primary(href="/admin/category") Sayfaya Git

script.
  document.addEventListener('DOMContentLoaded', function () {
    const offcanvasCategory = document.getElementById('offcanvasCategory');

    offcanvasCategory.addEventListener('show.bs.offcanvas', function () {
      fetch('/admin/categories') 
        .then(response => response.json())
        .then(data => {
          const tableBody = document.querySelector('#offcanvasCategory tbody');
          tableBody.innerHTML = '';

          if (data.length > 0) {
            data.forEach(category => {
              const row = `<tr>
                            <td>${category.id}</td>
                            <td>${category.name}</td>
                            <td>${category.description}</td>
                          </tr>`;
              tableBody.innerHTML += row;
            });
          } else {
            tableBody.innerHTML = '<tr><td colspan="3">Kategori bulunamadı</td></tr>';
          }
        })
        .catch(err => console.error('Veriler alınırken hata oluştu:', err));
    });
  });
